<div class="min-h-screen max-w-[1280px] w-full ml-auto mr-auto pt-20">
  <h1 class="text-6xl mb-10 bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary">
    Pedido
  </h1>

  <div class="flex gap-[15px]">
    <div class="flex flex-col gap-[5px]">
      @for (x of coins; track x.nome; let i = $index) {
        <button class="text-right p-1 border"
                [ngClass]="{'bg-primary text-white':indexOrder == i}"
                (click)="indexOrder = i">{{ x.nome }}
        </button>
      }
    </div>
    <div class="flex-1">
      @for (order of items; track order; let i = $index) {
        @if (i == indexOrder) {
          <table class="w-full border-collapse border border-primary">
            <thead>
            <tr>
              <td class="border  border-primary text-center" colspan="4">
                {{ order.nome }} - Cotação: {{ order.cotacao }}
              </td>
            </tr>
            <tr>
              <td class="border border-primary text-center">Cédula/Face</td>
              <td class="border border-primary text-center">Qtde</td>
              <td class="border border-primary text-center">Total</td>
              <td class="border border-primary text-center">Total R$</td>
            </tr>
            </thead>

            <tbody>
              @for (face of order.faces; track face; let i2 = $index) {
                <tr>
                  <td class="border border-primary text-center">{{ face.face }}</td>
                  <td class="border border-primary p-1 text-center">
                    <input [(ngModel)]="face.qtde" (ngModelChange)="changeCalc(i,i2)"
                           class="border rounded-sm text-center w-[50px]" type="number">
                  </td>
                  <td class="border border-primary text-center">{{ face.totalFace }}</td>
                  <td class="border border-primary text-center">{{ face.totalValue }}</td>
                </tr>
              }
            <tr>
              <td class="border-primary text-center">Total</td>
              <td></td>
              <td class="border-primary text-center">{{ order.totalFace }}</td>
              <td class="border-primary text-center">{{ order.totalValue }}</td>
            </tr>
            </tbody>
          </table>
        }
      }
    </div>
  </div>

  <form [formGroup]="form">
    <div class="flex w-full gap-[20px] mt-10">
      <mat-form-field class="flex-3">
        <mat-label>Nome</mat-label>
        <input formControlName="name" matInput>
        <mat-error>Campo obrigatório.</mat-error>
      </mat-form-field>

      <mat-form-field class="flex-2">
        <mat-label>CPF</mat-label>
        <input formControlName="document" matInput>
        <mat-error>Campo obrigatório.</mat-error>
      </mat-form-field>
    </div>

    <div class="flex w-full gap-[20px]">

      <mat-form-field class="flex-2">
        <mat-label>E-mail</mat-label>
        <input formControlName="email" matInput>
        <mat-error>Campo obrigatório.</mat-error>
      </mat-form-field>

      <mat-form-field class="flex-2">
        <mat-label>Celular</mat-label>
        <input formControlName="phone" matInput>
        <mat-error>Campo obrigatório.</mat-error>
      </mat-form-field>
    </div>

    <button class="mt-5" mat-flat-button (click)="reviewOrder()">Revisar Pedidos</button>
  </form>


</div>
